@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/AppScripts/Users.js"></script>

<style>
    #editBlock {
        display: none;
    }
</style>

<h2>Users</h2>

<div id="tableBlock"></div>
<div id="editBlock">
    <h3>Edit</h3>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Name: </label></td><td><input type="text" id="editName" /></td></tr>
    </table>
    <button id="editButton">Save</button>
    <button id="cancelEdit">Cancel</button>
</div>
<div id="createBlock">
    <h3>Add</h3>
    <table>
        <tr><td><label>Name: </label></td><td><input type="text" id="addName" /></td></tr>
    </table>
    <button id="addButton">Add</button>
</div>

